certifi==2020.12.5
chardet==4.0.0
click==7.1.2
decorator==4.4.2
idna==2.10
loguru==0.5.3
networkx==2.5
numpy==1.19.5
pandas==1.2.0
python-dateutil==2.8.1
pytz==2020.5
six==1.15.0
tqdm==4.55.1
urllib3==1.26.2
